{% load socialaccount %}
{% providers_media_js %}        <!--provider에서 제공하는 로그인페이지의 템플릿을 사용할 수 있다.-->

<h1>hello world!</h1>

<a href="/accounts/signup">회원가입</a>

{% if user.is_authenticated %}
<a href="/accounts/logout">로그아웃</a>
{{user.username}} 님이 로그인 중
{% else %}
<a href=" {% provider_login_url 'google' %}">구글 로그인</a>
<a href=" {% provider_login_url 'facebook' %}">구글 로그인</a>
로그인 해야됨
{% endif %}


<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>