{% extends 'base.html' %}

{% block contents %}
<body>
<br>
{% for blog in blogs.all %}
<div class="container">
<div class="card">
        <div class="card-body">
            <h2 class="card-title">{{blog.title}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
            <p class="card-text">{{blog.summary}}</p>
        <a href="{%url 'detail' blog.id%}" class="card-link">...more</a>
        </div>
        </div><br>
    </div>
{% endfor %}

</body>
{% endblock %}